*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://www.dropbox.com/s/n8qa2lj4ye9nqwe/baked-goods-chocolate-chocolate-chip-cookies-890577.jpg?raw=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: lightyellow;
}
h1.heading{
  color: lightyellow;
}

.heading{
  display: flex;
  justify-content: center;
  background-color: RGBA(43, 43, 43, .5);
  color: white;
  padding: 10px 20px;
  }

  .dataOutput{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: inherit;
    width: 250px;
    height: 650px;
    position: absolute;
    font-size: 1.8rem;
    }
  .randNum1, .randNum2{
    margin-top: 20px;
    color: lightyellow;
    text-align: center;
    background-color: RGBA(43, 43, 43, .5);
    border: 2px;
    border-radius: 10px;
  }
#link{
  width: 100%;
  padding: 25px 0;
  text-align: center;
  background-color: RGBA(43, 43, 43, .5);
  margin-top: 20px;
  font-size: 14px;
  color: lightyellow;
  border: 2px;
  border-radius: 10px;
}

#btn{
  font-size: 8px;
  margin-top: 10px;
  border: 2px;
  border-radius: 10px;
  background-color: lightyellow; 
}

#result{
  color: #8B4513;
}
#copied{
font-size: 20px;
padding-left: 43px;
color: white;
}
